* {
    box-sizing: border-box
}

html, body {
    font-size: 10px;
    line-height: 250%;
    color: #30343f;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    margin: 0;
}


/*buttons*/
.button {
    font-size: 1.6rem;
    font-family: 'assistant';
    color: #fbfbfb;
    background: #006494;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease-in-out;
    display: inline-block;
    padding: 1rem 2rem;
    transition: all .5s ease-in-out;
    display: inline-block;
    margin: 2rem 1rem;
    min-width: 160px;
    max-width: 200px;
}

.button:hover {
    background-color: lightgrey;
    color: #30343f;
    text-decoration: none;
}



/*FONT FAMILIES*/


b {
    font-weight: 900;
    }

h1.my-name, .introduction, .connect {
    font-family: 'oswald';
    font-size: 1.8rem;
    font-weight: 300;
    }

h1.project-title {
    font-size: 3.6rem;
    }

h2 {
    font-family: 'oswald';
    font-size: 2.4rem;
    }

h2.ux-designer, .project-name {
    font-size: 3.0rem;
    }

h2.index-project-title {
    font-size: 3.6rem;
     justify-content: left;
    margin: 0 auto;
}

h3 {
    font-family: 'fjalla one';
    font-size: 3rem;
    }

h3.my-bio {
    font-family: 'oswald';
    font-size: 3rem;
}

h3.roles-titles {
    font-size: 1.8rem;
    }

h4 {
    font-family: 'oswald';
    font-size: 1.8rem;
    }

h4.persona-name {
    font-size: 2.4rem;
    padding-bottom: 2rem;
    }

h5.tagline, .index-project-description, .use-feature {
    font-size: 1.8rem;
    }

h5.implementation, .function, .persona-quote, conclusion-sections, .comp, .iteration {
    font-size: 1.4rem;
    }

p {
    font-size: 1.6rem;
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
    padding: 3rem 0;
    }

.reason {
    font-family: "assistant";
    font-size: 3.0rem;
    letter-spacing: 3px;
    align-content: center;
    margin: 0 auto;
    font-size: 1.6rem ;
    padding-top: 1rem;
}

@media screen and (min-width: 990px) {
    
h1.project-title {
    font-size: 7.2rem;
    }

h4 {
    font-size: 2.4rem;
    }
    
h4.solution {
    font-size: 1.8rem; 
    }
    
h4.view {
    font-size: 2rem; 
    }    
       
.use-feature, conclusion-sections {
    font-size: 2rem;
    }

.initial-design, .comp {
    font-size: 1.8rem;
    }

p {
    font-size: 2rem;
    line-height: 1.4;
    }
        
.persona-quote {
    font-size: 1.6rem;
    }   
}


/*INDEX hero*/


.hero { 
    background-image: url("../assets/TWZtop.jpg");
    height: 100vh;
    width: 100%;
    background-position: center 35%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.my-name {
    font-family: "assistant";
    font-size: 5.0rem;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 6rem;
    color: #fbfbfb;
    line-height: 1;
}
    @media screen and (min-width: 768px) {
        h1.my-name {
            font-size: 6rem;
        }
        
    @media screen and (min-width: 990px) {
        h1.my-name {
            font-size: 8rem;
        }
        }    
    }

#orange {
    color: #EE701B;
}

h5.tagline {
    padding: 2rem 0;
    text-align: center;
    color: #fbfbfb;
    margin: 0 auto;
    width: 355px;
}

@media screen and (min-width: 768px) {
    h5.tagline {
        width: 500px;
        font-size: 2.4rem;
    }
}

.scrolldown {
    text-align: center;
    position: relative;
    bottom: 0;
}

.email-link {
    text-decoration: none;
    color: #30343f;
}

.scroll {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.arrow {
    width: 25px;
}


/*INDEX projects*/
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding-bottom: 20px;
}


.project-brainspace {
    justify-items: center;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.project-brainspace-copy {
  justify-content: left;
  padding: 4rem 3rem 2rem 3rem;
    margin: 0 auto;
}

.index-brainspace-preview {
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}

.img-brainspace-preview {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.project-outsafe {
    text-align: center;
    background: #F6F8F8;
    justify-items: right;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 300px;
  }

.project-outsafe-copy {
  justify-content: center;
  padding: 4rem 3rem 2rem 3rem;
}


@media screen and (min-width: 768px) {
    
    .project-brainspace {
        display: flex;
        flex-direction: row;
    }
    
    .project-brainspace-copy {
  justify-content: left;
  padding: 10rem 3rem 10rem 8rem;
    width: 40%;
    }
    
    .img-brainspace-preview {
        padding-top: 10rem;
}


    

/*BIO*/

.my-bio-body {
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.bio-hero {
    background: #30343f;
    height: 100vh;
    
    }

.bio-top {
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    padding: 6rem 0;
    width: 100%;
}
    
.intro-bio {
    color: #fbfbfb;
    }    

.introduction  {
    font-family: "assistant";
    font-size: 3.0rem;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 5rem;
    color: #EE701B;
}
    @media screen and (min-width: 768px) {
        h1.introduction {
        letter-spacing: 6px;
        }
    }

.my-bio-photo { 
    width: 350px;
    height: auto;
    }

.my-bio {
    letter-spacing: 3px;
    line-height: 150%;
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    }

.bio-button {
    padding: 1rem;
}

.my-bio-description {
    width: 90%;
}

.intro-section {
    padding-right: 0;
}

@media screen and (min-width: 768px) {
    
    .bio-top {
        display: flex;
        flex-direction: row;
    }
    
    .intro-section {
        width: 400px;
        padding-left: 3rem;
    }

    .my-bio-photo { 
        width: 400px;
        align-content: left;
        }
    }




/*PROJECT-general*/
.project-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

    @media screen and (min-width: 575px) {
        .project-container {
            width: 575px;
        }   
    }

    @media screen and (min-width: 990px) {
        .project-container {
            width: 960px;
        }
    }

h3.section-titles {
    padding-top: 5rem;
}

p.project-description {
    text-align: center;
}


.case-study-section {
  background: #F6F8F8;
  margin: 2.4rem auto;
  padding: 0 3.6rem 2.6rem 3.6rem;
}

.image-section {
    margin: 2.4rem auto;
}

.center {
    text-align: center;
}

.link {
    color: #EE701B;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}


/*PROJECT: project-hero*/

.brainspace-preview {
    width: 90%;
    padding-top: 50px;
    }

h1.project-title {
    padding: 2rem;
}


/*PROJECT: my roles*/

.roles ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
    @media screen and (min-width: 575px) { 
        .roles ul {
            display: flex;
            flex-direction: row;
        }
        
         .roles li {
            display: inline-block;
            vertical-align: top;
            width: 30%;
        }
    }


.roles-paragraph {
    text-align: center;
    padding: .5rem;
}

hr.role {
    width: 100px;
}

    @media screen and (min-width: 990px) { 
        hr.role {
            width: 200px;
        }
    }

/*PROJECT: problem and solution*/

.overview {
    display: flex;
    flex-direction: column;
    
}

    @media screen and (min-width: 575px) {    
        .overview {
            display: flex;
            flex-direction: row;
        }
    }


/*PROJECT: user research*/

.chart-1 {grid-area: chart-1;}

.chart-2 {grid-area: chart-2;}

.chart-3 {grid-area: chart-3;}

.chart-4 {grid-area: chart-4;}

.pie-charts {
    display: grid;
    align-items: flex-start;
    grid-template-areas:
        "chart-1 chart-2"
        "chart-3 chart-4"
}
    
.img-pie-charts {
    width: 80%;
    margin: auto;
}

    @media screen and (min-width: 575px) {
        .pie-charts {    
            display: flex;
            flex-direction: row;
        }
    
        .img-pie-charts {
            width: 100%;
            padding: 1rem;
        }
    }


/*PROJECT: competitive analysis*/

.SWOT-analysis {
    display: flex;
    flex-direction: column;
}

.img-SWOT-logos {
    width: 21.5rem;
    margin: 1rem;
    justify-content: center;
    border: .1rem solid black ;
}

    @media screen and (min-width: 990px) {
        .SWOT-analysis {    
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .dropbox, .google, .sugarsync {
            width: 30%;
            padding: 2rem;
            align-items: center;
        }
    }

/*PROJECT: dash analysis*/

.content-dash-analysis {
    display: flex;
    flex-direction: column;
}

.txt-dash-analysis {
    text-align: left;
}

.img-SWOT-dash {
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.comp {
    padding: .5rem 2rem;
    text-align: left;
}

@media screen and (min-width: 990px) {
  .content-dash-analysis {    
    width: 90%;
    display: flex;
    flex-direction: row;
      }
  
  .txt-dash-analysis {
      grid-area: txt-dash-analysis;
  }
  
  .img-dash-analysis {
      grid-area: img-dash-analysis;
  }
    
    .content-dash-analysis {
      display: grid;
      margin: 0 auto;
      grid-column-gap: 2rem;
      grid-row-gap: 0;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
          "img-dash-analysis txt-dash-analysis";
  }
}


/*user personas*/

.persona-profiles {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.persona-1, .persona-2 {
    margin: 0 auto;
    text-align: center;
    padding: 3rem;
    background: white;
    width: 335px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.persona-box {
    padding-bottom: 3rem;
}

.persona-info {
    text-align: center;
    padding: 1rem;
}

.img-persona {
    width: 150px;
}

h5.persona-title {
    text-align: left;
    font-size: 1.4rem;
    padding: 1rem 0;
}

.persona-descriptions {
    padding: 0;
}

.persona-quote {
    padding: 4rem 0;
}


    @media screen and (min-width: 575px) {
        .persona-1, .persona-2 {
            width: 400px;
            height: 900px;
        }
    }

    @media screen and (min-width: 990px) {
      .persona-profiles { 
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        
        .persona-box {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        
        .persona-1, .persona-2 {
            width: 400px;
            height: 1220px;
        }
    }
  


/*three findings*/

.layers, .sort, .notifications {
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin: 0 auto;
}

.img-icon {
    width: 7rem;
}

.solution {
    margin-top: 2rem;
}

.findings-boxes {
  display: flex;
  flex-direction: column;
}

.findings-descriptions {
    padding: 0;
}

.implementation, .function {
    padding: 1rem;
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem;
    max-width: 35rem;
    background: white;
}


    @media screen and (min-width: 990px) {
        .findings-boxes {
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          justify-content: space-evenly;
        }
    
        .layers, .sort, .notifications {
            padding: 0 1rem;
        }
    }
    
/*PROJECT: user stories*/

/*PROJECT: user stories IMAGE*/

    .user-stories-img {
        width: 100%
    }

/*PROJECT: user flows*/

/*PROJECT: user flows IMAGE*/

    .user-flows-img {
        width: 100%;
    }


/*PROJECT: branding and identity*/

.img-logos {
    width: 100%;
}


.img-type, .img-color {
    padding-top: 2rem;
    width: 100%;
}


@media screen and (min-width: 575px) {
    .type-color {
        width: 575px;
    }
}


@media screen and (min-width: 990px) {
    .type-color {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
}




/*PROJECT: wireframes*/

.drawn-wireframes-img {
    width: 100%;
}

.takeaways {
    margin: 0 auto;
    padding: 1rem 0;
}

.wireframe-case-study-section {
  margin: 2.4rem auto;
  padding: 0 3.6rem 2.6rem 3.6rem;
}

.wireframes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.land-wire, .dash-wire {
    padding: 2.6rem 2rem 0 2rem;
}

.img-land-wire, .img-dash-wire {
    width: 330px;
}


@media screen and (min-width: 990px) {
  .wireframes {    
    display: flex;
    flex-direction: row;
    margin: 0 auto;
      }
}


  
/*PROJECT: landing page*/

.land-iterations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.img-land-iterations, .img-land-final {
    width: 330px;
    }

.land1, .land2, .land3, .land4 {
    margin: .5rem;
    }
    
    
    @media screen and (min-width: 575px) {
        .landA, .landB {    
            display: flex;
            flex-direction: row;
            justify-content: center;
            }

        .img-land-iterations {
            width: 250px;
            }
    }

    @media screen and (min-width: 990px) {
        .land-iterations {
            display: flex;
            flex-direction: row;
            }

        .img-land-iterations {
            width: 220px;
            }

        .img-land-final {
            width: 500px;
            }
        }
    
/*dashboard*/

.img-dash-info, .iteration {
    padding: 2rem;
}

.img-dash-iterations, .img-dash-final, .img-dash-info {
    width: 330px;
    }
    
    @media screen and (min-width: 990px) {
        .img-dash-iterations, .img-dash-info {
            width: 500px;
            }
        
        .img-dash-final {
            width: 700px;
        }
    }

   

/*conclusions*/

.conclusions-txt {
    padding-top: 5rem;
}

.scrollup {
    padding-bottom: 3rem;
}

.scroll-top {
    text-decoration: none;
    font-size: 14px;
    color: #30343F;
}

.arrow {
    width: 25px;
}


/*footer*/
footer {
    background-color: #30343f;
    width: 100%;
    height: 23rem;
    text-align: center;
    margin: 0 auto;
}

.created-by {
    text-align: center;
    color: #fbfbfb;
}

h3.connect {
    font-family: "assistant";
    font-size: 2.5rem;
    color: #FBFBFB;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-weight: 300;
    line-height: 1.2;
}

.flex-footer {
    display: inline-flex;
    flex-direction: row;
}

.email, .linkedin, .github {
    padding: 0 2rem;
}

#message {
    color: #EE701B;
}


